{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'formationsApp/main.css' %}">
    <body>
        {% if formation %}
        <h1>Update a course</h1>
        <form action="{% url 'formationsApp:update' formation.id%}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="title">Title:</label>
                <input type="text" value="{{ formation.title }}" placeholder="Enter a title..." id="title" name="title">
                <label for="description">Description:</label>
                <textarea type="text" placeholder="Enter a description..." id="description" name="description">{{ formation.description }}</textarea>
            </fieldset>
            <div class="buttons_container">
                <a href="{% url 'formationsApp:list'%}" class="cancel_button">Cancel</a>
                <button type="submit">Save</button>
            </div>
        </form>
        {% else %}
        <h1>Create a new course</h1>
        <form action="{% url 'formationsApp:create'%}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="title">Title:</label>
                <input type="text" value="" placeholder="Enter a title..." id="title" name="title">
                <label for="description">Description:</label>
                <textarea type="text" placeholder="Enter a description..." id="description" name="description"></textarea>
            </fieldset>
            <div class="buttons_container">
                <a href="{% url 'formationsApp:list'%}" class="cancel_button">Cancel</a>
                <button type="submit">Save</button>
            </div>

        </form>
        {% endif %}
    </body>
</html>