{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'formationsApp/main.css' %}">
    <body>
        <h1>Available formations</h1>
        {% if isTrainer %}
        <a href="{% url 'formationsApp:createFormation' %}" class="action create">Create a formation</a>
        {% endif %}
        <div class="formation_list">
            {% for formation in formations_list %}
            <div class="formation_box">
                <h3 class="box_title">
                    {{ formation.title }}
                </h3>
                <div class="formation_action">
                    {% if isTrainer %}    
                    <a href="{% url 'formationsApp:updateFormation' formation.id %}" class="action modify">Modify</a>
                    {% endif %}
                    <a href="{% url 'formationsApp:details' formation.id %}" class="action details">Details</a>
                    {% if isTrainer %}
                    <a href="{% url 'formationsApp:delete' formation.id %}" class="action"><img src="{% static 'formationsApp/delete.svg' %}" alt="delete the formation logo" class="trash"></a>
                    {% endif %}
                </div>
            </div>
            
            {% endfor %}
        </div>
    </body>
</html>