{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'formationsApp/main.css' %}">
    <body>
        <h1>Login</h1>
        <form action="{% url 'formationsApp:doLogin' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="username">Username:</label>
                <input type="text" value="" id="username" name="username" />
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </fieldset>
            <button type="submit" style="margin-bottom: 10px;">Login</button>
            {% if error %}
            <p class="error">An error occured while loggin, try again!</p>
            {% endif %}
        </form>
    </body>
</html>