{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'formationsApp/main.css' %}">
    <body>
        <h1>Create a new session</h1>
        <form action="{% url 'formationsApp:addSession' id_formation %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="dateTime">Date:</label>
                <input type="datetime-local" value="" id="dateTime" name="dateTime" />
                <label for="studentNbr">Max students:</label>
                <input type="number" value=1 min=1 max=1000 id="studentNbr" name="studentNbr" />
                <label for="">Place</label>
                <input type="text" id="place" name="place">
            </fieldset>
            <div class="buttons_container">
                <a href="{% url 'formationsApp:details' id_formation %}" class="cancel_button">Cancel</a>
                <button type="submit">Save</button>
            </div>
            <div class="logout"><a href="{% url 'formationsApp:doLogout' %}">LOG OUT</a></div>
        </form>
    </body>
</html>